
.nav-button button {
  background: black;
  color: white;
  padding: 7px 20px;

  border-radius: 10px;

  cursor: pointer;
  display: inline-block;
  border: none;
  text-align: center;
  font-weight: bold;

  box-shadow: 0 4px 8px 0 rgb(33, 33, 33), 0 6px 20px 0 rgba(0, 0, 0, 0.6);

  transition: all 0.3s ease-in-out;
}
