
.nav-button button {
  background: black;
  color: white;
  padding: 10px 20px;

  border-radius: 10px;

  cursor: pointer;
  display: inline-block;
  border: none;
  text-align: center;
  font-weight: bold;

  box-shadow: 0 0 8px 5px rgba(0, 0, 0, 2);
  transition: all 0.3s ease-in-out;
}
